/* 题目顶栏 */
#header {
    background-color: var(--accent-1-bg);
    padding-bottom: 10px;
}

#header #groupSmallLog,
#header #headerLine {
    img {
        border-radius: 5px;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
}

#header .contest-title-tab span {
    color: var(--gray-8);
}

#header .contest-title-tab h2,
#header #headerLine h1 {
    a {
        color: var(--accent-1-text);
        font-weight: bold;
    }

    a:hover {
        color: var(--accent-1-text-dark);
        text-decoration: none;
    }

    color: var(--gray-8);

}

/* 选项卡 */

#header ul#mainNav li {
    border-radius: 5px;

    a {
        color: var(--accent-1-text);
        padding: 0.3em 0.7em;
        background-color: var(--accent-1-bg-dark);
    }

    a:hover {
        background-color: var(--accent-1-bg-darker);
        transition: all 0.5s;
        text-decoration: none;
    }

    &:hover {
        transform: translateY(-2px);
        transition: all 0.3s;
    }

    &.current {
        border-bottom: 2px solid var(--accent-1-border-dark);
    }
}