@import "arco-palette.css";
@import "global.css";

#side,
#main {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--card-border);
    background-color: var(--card-bg);
    margin-bottom: 1em;
}

#side {
    padding: 0.5em;
    width: 180px;

    #groupBigLogo {
        width: 180px;

        img {
            width: 100%;
        }
    }

    .group-setting {
        li {
            border: none;
            display: inline;
        }
    }

    .admin-list,
    .announcement {
        border: none;
    }

    .group-description,
    .admin-list h4,
    .announcement h4 {
        background-color: var(--card-bg-dark);
        border-radius: 3px;
        padding: 0.2em 0.5em;
        font-weight: bold;
        color: var(--accent-2-text);
    }

    .group-description p {
        font-weight: normal;
        color: var(--text-weak);
    }

    .announcement {
        .date {
            color: var(--gray-7);
            font-size: 0.9em;
        }
    }
}

#main {
    margin: 0;
    padding: 1em;

}

#main .group-name {
    text-align: center;

    h1 {
        display: inline;
        float: none;
        color: var(--accent-2-text);
        border-bottom: 2px dotted var(--accent-2-text);
    }

    /* 加入按钮 */
    a {
        background-color: var(--button-bg);
        border: none;
        font-weight: bold;
        font-size: 13px;
        padding: 0.3em 0.7em;
        border-radius: 5px;
        color: var(--button-text);
    }

    a:hover {
        background-color: var(--button-bg-hover);
        transition: all 0.5s;
        text-decoration: none;
    }
}

#main .main-content {

    .current-contest h3,
    .coming-contest h3,
    .past-contest h3 {
        padding: 0.5em;
        border-left: 3px solid var(--accent-2-text-light);
        border-bottom: none;
        background-color: var(--accent-2-bg-dark);
        color: var(--accent-2-text-light);
        margin-bottom: 0.5em;

        span {
            color: var(--accent-2-text);
            padding-right: 0.5em;
        }

        a {
            color: var(--accent-2-text);
            text-decoration: none;
        }
    }

    .current-contest {
        .over-time {
            padding: 8px;
            color: var(--date-text);
        }

        .recently-update {
            display: none;
        }
    }

    .past-contest ul.container,
    .coming-contest ul.container {
        li {
            padding: 5px;
            border-bottom: 1px solid var(--gray-4);
            font-weight: bold;

            span {
                float: right;
                color: var(--date-text);
            }
        }
    }
}