@import "arco-palette.css";
@import "global.css";

#side,
#main {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--gray-8);
    background-color: var(--gray-9);
    margin-bottom: 1em;
}

#side {
    padding: 0.5em;
    width: 180px;

    #groupBigLogo {
        width: 180px;

        img {
            width: 100%;
        }
    }
}

#main {
    margin: 0;
    padding: 1em;

    .group-name {
        text-align: center;

        h1 {
            display: inline;
            float: none;
            color: var(--blue-3);
            border-bottom: 2px dotted var(--blue-3);
        }

        a {
            background-color:
                var(--blue-7);
            border: none;
            font-weight: bold;
            font-size: 13px;
            padding: 0.3em 0.7em;
            border-radius: 5px;
            color: var(--blue-3);
        }

        a:hover {
            background-color: var(--blue-8);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            transition: all 0.5s;
            text-decoration: none;
        }
    }

    .main-content {

        .current-contest h3,
        .coming-contest h3,
        .past-contest h3 {
            padding: 0.5em;
            border-left: 3px solid var(--blue-5);
            border-bottom: none;
            background-color: var(--blue-9);
            color: var(--blue-3);

            span {
                color: var(--blue-3);
                padding-right: 0.5em;
            }

            a {
                color: var(--blue-2);
                text-decoration: none;
            }
        }

        .current-contest {
            .over-time {
                padding: 8px;
                color: var(--orangered-4);
            }

            .recently-update {
                display: none;
            }
        }

        .past-contest ul.container,
        .coming-contest ul.container {
            li {
                padding: 5px;
                border-bottom: 1px solid var(--gray-7);
                font-weight: bold;

                span {
                    float: right;
                    color: var(--orangered-4)
                }
            }
        }
    }
}