@import "./common.css";
@import "./components/site-header.css";

/* 左侧导航栏 */
#side.group-panel ul {
    li {
        display: block;
        padding: 0.5em;
        font-weight: bold;
        border-bottom: 1px dotted var(--card-border);
        text-align: right;

        a {
            color: var(--accent-1-text);
            padding-right: 1em;

            &:hover {
                background-color: transparent;
            }
        }

        &:hover {
            background-color: var(--accent-1-bg);
        }
    }

    li.current {
        background-color: var(--accent-1-bg-dark);
    }
}

#main {
    border: none;
}

/* 大标题 */

#main.all-group h1 {
    display: none;
}

#main.all-group h2 {
    color: var(--accent-1-text);
    background: none;
    background-color: var(--accent-1-bg-dark);
    padding: 0.5em;
    border-left: 3px solid var(--accent-1-text);
    border-bottom: none;

    span {
        right: 0.5em;
    }
}

#main.groups-category h1 {
    color: var(--accent-1-text);
    background-color: var(--accent-1-bg-dark);
    padding: 0.2em;
    padding-left: 0.5em;
    border-left: 3px solid var(--accent-1-text);
}

/* 小组列表 */
#main.groups-category ul li {
    background-color: var(--accent-1-bg);
    border-radius: 5px;
    margin-right: 0.3em;
    border: 1px solid var(--accent-1-border-dark);
    padding: 0.1em;

    .info {
        a {
            color: var(--accent-1-text);
        }

        a:hover {
            color: var(--accent-1-text-dark);
            text-decoration: none;
        }

        span, p {
            color: var(--text-weak);
        }
    }

    img {
        border-radius: 5px;
        height: 54px;
        width: 54px;
        margin-right: 0.5em;
    }

    &:hover {
        background-color: var(--accent-1-bg-dark);
        transition: background-color 0.3s ease-in-out;
    }
}

#main.all-group ul li {
    display: inline-block;
    margin: 0.5em;
    padding-right: 0.5em;
    background-color: var(--accent-1-bg);
    border-radius: 5px;
    border: 1px solid var(--accent-1-border);
    max-width: 230px;

    a {
        color: var(--accent-1-text);
        text-decoration: none;

        &:hover {
            color: var(--accent-1-text-dark);
            text-decoration: underline;
        }
    }

    img {
        border-radius: 5px;
        margin-right: 0.5em;
    }

    &:hover {
        background-color: var(--accent-1-bg-dark);
        transition: background-color 0.3s ease-in-out;
    }
}