@import "./global.css";

#clarify table tbody tr td {
    /* 作者 */
    cite a {
        font-size: 12px;
        color: var(--anchor);

        &:visited {
            color: var(--purple-8);
        }

        &:hover {
            color: var(--anchor-hover);
        }
    }
}

#clarify table tbody tr {
    button {
        padding: 0.3em 0.8em;
    }

    /* 顶 */
    td:nth-last-child(2) button {
        background-color: var(--green-4);
        border-bottom: 3px solid var(--green-2);

        &:hover {
            background-color: var(--green-5);
            transition: all 0.3s ease-in-out;
        }
    }

    /* 踩 */
    td:last-child button {
        background-color: var(--red-4);
        border-bottom: 3px solid var(--red-2);

        &:hover {
            background-color: var(--red-5);
            transition: all 0.3s ease-in-out;
        }
    }   
}