@import "./global.css";
@import "./animation.css";

html {
    position: absolute;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

#sitePagebody .wrapper,
#pagebody .wrapper,
#sitePagebody .wrapper #main.col-8,
#sitePagebody .wrapper #main.col-10,
#pagebody .wrapper #main.col-8,
#pagebody .wrapper #main.col-10 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 可能存在的提示信息 */
#main .notice {
    top: 0px;
    position: absolute;
    display: flex;
    text-align: center;
    animation: swingInFromLeft 0.3s ease-in-out;

    p {
        border: 1px solid var(--yellow-3);
        border-radius: 5px;
        background: var(--yellow-2);
        color: var(--yellow-7);
    }
}


#main form[action="/api/auth/login/"],
#main form[action="/api/auth/register/"] {
    background: var(--gray-2);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: block;
    max-width: 400px;
    margin: 4em 0;
}

.user-login h2 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
}

.form dt label {
    font-weight: bold;
    display: block;
    color: var(--accent-2-text);
    margin-bottom: 0.5em;
    font-size: 1.2em;
    line-height: 2;
}

.form dd input,
.form dd input {
    border-color: var(--gray-3);
    padding: 0.2em 0.5em;
    width: 100%;
}

.form dd {
    margin-bottom: 0.5em;
}

.user-login button[type="submit"],
.register button[type="submit"] {
    width: 40%;
    padding: 0.5rem;
    margin: 0;
    margin-left: 2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }
}

.user-login p {
    text-align: center;
    margin-top: 1rem;
}

.user-login a {
    color: #007bff;
    font-size: 15px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.user-login>p:last-of-type {
    display: none;
}