@import "./common.css";
@import "./components/header-top.css";
@import "./components/practice-header.css";

:root {
    --contest-width: 800px;
}

.timeBar {
    background-color: var(--accent-1-bg);
    border: 2px solid var(--accent-1-border);
    border-radius: 5px;
    width: var(--contest-width);
    height: 120px;

    dl.past-contest-info,
    dl.current-contest-info {
        * {
            max-width: 200px !important;
        }

        .current-time {
            color: var(--date-text);
            font-size: 1.5em;
            left: 325px;
            top: -65px;
        }

        .start-time-dd,
        .end-time-dd,
        .current-time-dd {
            color: var(--date-text);
            font-size: 1.2em;
            font-weight: bold;
        }

        .start-time,
        .end-time {
            color: var(--accent-1-text);
            font-weight: bold;
        }

        .start-time-dd {
            top: 35px;
            left: 40px;
        }

        .start-time {
            left: 90px;
            top: 80px;
        }

        .current-time-dd {
            color: var(--red-5);
            left: 370px;
            top: -px;
        }

        .end-time-dd {
            left: 600px;
            top: -7px;
        }

        .end-time {
            left: 650px;
            top: 37px;
        }

    }
}


.contest-description {
    border: none;
    width: var(--contest-width);
}

.contest-problem table {
    width: var(--contest-width);
    margin-top: 1em;
}

/* 通过图标 */
.contest-problem table tr td.solved {
    img[title="已解决"] {
        content: var(--i-right);
    };
    img[title="未解决"] {
        content: var(--i-wrong);
        padding-left: 3px;
    }
}

/* 可能存在的通知 */
.contest-description .notification {
    background-color: var(--red-1);
    color: var(--red-9);
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1em;
}

#side {
    display: none;
}

#pagebody,
#pagebody .wrapper,
#pagebody .wrapper #main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main {
    padding: 0;
    margin: 0;
    float: none;
}