@import "./global.css";

/* 问题描述 */
.problem-page {
    max-width: 620px;
    background-color: var(--gray-2);
    padding: 1em;
    padding-top: 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;

    dt {
        color: var(--blue-6);
        padding-left: 0.5em;
        margin: 1em 0;
        line-height: 1.5;
        border-left: 3px solid var(--blue-6);
    }

    .problem-params dt,
    .problem-params dd {
        font-size: 13px;
        color: var(--gray-8);
        padding: 0.5em;
        margin: 1em 0;
        line-height: 1.5;
        border: none;
        font-weight: bold;
    }

    /* 提交按钮 */
    ul.bottomMenu {
        li {
            display: inline-block;
            margin-right: 10px;
            background-color: var(--blue-4);
            border-radius: 5px;
            color: var(--blue-9);

            a:hover {
                text-decoration: none;
            }
        }

        li:hover {
            background-color: var(--blue-5);
            transition: background-color 0.3s ease-in-out;
        }
    }
}

/* 信息栏 */
.problem-statistics {
    background-color: var(--gray-2);
    padding: 1em;
    border-radius: 10px;
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    dl {
        dt {
            color: var(--cyan-6);
            font-weight: bold;
        }

        dd {
            color: var(--cyan-7);
            margin-bottom: 0.5em;
        }
    }

    h4 {
        color: var(--cyan-6);
        font-weight: bold;
        margin-top: 0.5em;
    }
}