@import "./global.css";

/* 左侧导航栏 */
ul#navigation {
    li {
        display: block;
        padding: 0.5em;
        font-weight: bold;
        background-color: var(--gray-1);
        border-bottom: 1px dotted var(--gray-3);
        text-align: right;

        a {
            color: var(--blue-8);
        }

        &:hover {
            background-color: var(--blue-2);
        }
    }
}

/* 用户表单 */
form {
    background: var(--gray-1);
    padding: 1em;
    border-radius: 10px;
}

#main form dl {
    margin: 0.5em 0;
    padding: 0.5em;
    border: none;

    dt {
        font-weight: bold;
        color: var(--blue-7);
        line-height: 2;
    }

    dd img {
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }
}

form[action="/api/user/modify-profile/"] p {
    display: none;
}