@import "./common.css";
@import "./components/site-header.css";

input[type="text"],
input[type="password"],
textarea {
    border: 1px solid var(--card-border) !important;
}

/* 左侧导航栏 */
ul#navigation {
    li {
        display: block;
        padding: 0.5em;
        font-weight: bold;
        background-color: var(--bg);
        border-bottom: 1px dotted var(--card-border);
        text-align: right;

        a {
            color: var(--accent-2-text);
        }

        &:hover {
            background-color: var(--accent-2-bg-dark);
        }
    }
}

/* 用户表单 */
form {
    background: var(--bg);
    padding: 1em;
    border-radius: 10px;
}

#main form dl {
    margin: 0.5em 0;
    padding: 0.5em;
    border: none;

    dt {
        font-weight: bold;
        color: var(--accent-2-text);
        line-height: 2;
    }

    dd {
        vertical-align: middle;
    }

    dd img {
        width: 100px;
        height: 100px;
        border-radius: 10%;
    }
}

form[action="/api/user/modify-profile/"] p {
    display: none;
}