@import "./common.css";
@import "./components/header-top.css";
@import "./components/practice-header.css";
@import "./components/practice-title.css";

#side {
    margin: 0;
    min-width: 230px;

    h4 {
        display: none;
    }
}