@import "./common.css";
@import "./components/header-top.css";
@import "./components/practice-header.css";
@import "./components/practice-title.css";
@import "./components/login-form.css";

/* 未登录 */
#main .notice {
    top: 20px;
}

#submit p {
    display: none;
}

#submit form#solution_submit {
    background-color: var(--card-bg);
    padding: 1em;
    padding-top: 0.2em;
    border-radius: 10px;
    margin-bottom: 1em;
}

/* 语言选择 */
#submit form#solution_submit dl {
    dt:not(:first-child) {
        float: none;
        font-weight: bold;
        color: var(--accent-2-text);
        text-align: left;
        margin-bottom: 0.5em;
        font-size: 16px;
        padding-left: 0.5em;
        border-left: 3px solid var(--accent-2-text-light);
    }

    dd {
        line-height: 2;
    }

    dd input {
        margin-top: 0.5em;
        margin-right: 0.5em;
    }
}

/* 代码 */
#submit form#solution_submit textarea {
    outline: none;
    min-width: 630px;
    background-color: var(--gray-3);
    color: var(--gray-9);
    border: 1px solid var(--gray-6);
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 1em;
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
}

/* 提交按钮 */
#submit form#solution_submit button {
    margin: 0 0.5em;
    font-size: 12px;
}