@import "./login.css";

/* 顶部冗余信息 */
#main .contest-wrapper,
#main h1 {
    display: none;
}

/* 用户信息 */
.user-info table {
    border: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.user-info table tbody tr {
    padding: 1em;
    background-color: var(--gray-2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border: none;

    .avatar-image img {
        border-radius: 10%;
        margin-top: 0;
    }

    .owner-info dl {
        dt {
            color: var(--blue-8);
            font-weight: bold;
        }

        dd {
            color: var(--gray-8);
        }
    }

    .badges div {
        background-color: var(--gray-2);
        border-left: 2px solid var(--gray-3);
        padding-left: 1em;

        h4 {
            color: var(--blue-8);
            font-weight: bold;
            border: none;
        }

        ul li {
            color: var(--gray-6);
        }
    }

    a {
        color: var(--blue-7);
        text-decoration: none;
    }
}

.user-group h2,
.my-group-contest h2 {
    border: none;
}

/* 左侧提交栏 */
.user-group .my-group-list ul,
.my-group-contest .my-group-list ul {
    li {
        display: block;
        padding: 0.5em;
        font-weight: bold;
        border-bottom: 1px dotted var(--gray-4);

        &:hover {
            background-color: var(--cyan-2);
        }
    }

    li.current-group {
        background-color: var(--cyan-2);
    }

    li a {
        line-height: 2.5;
        color: var(--cyan-8);

        img {
            border-radius: 50%;
            margin-right: 0.5em;
        }

        &:hover {
            background-color: transparent;
        }
    }
}

/* 最近题提交表格 */
.recently-submit table {
    margin-top: 0;

    .contest img {
        border-radius: 50%;
        margin-right: 0.5em;
    }
}

/* 参加比赛表格 */
.my-contest-list,
.recently-submit {
    border: none;
}

.my-group-contest-info {
    border-radius: 5px;
    border: 1px solid var(--cyan-2);
    background-color: var(--gray-2);

    a {
        color: var(--cyan-7);
    }

    h3 {
        background-color: var(--cyan-1);
    }
}

/* 小组设定 */
.my-contest-list .user-group-info dl {
    dt {
        color: var(--cyan-9);
        font-weight: bold;
        width: 80px;
    }

    dd {
        color: var(--cyan-8);
        margin-bottom: 0.5em;
    }
}


/* 小组链接 */
.my-contest-list .my-group-logo {
    img {
        margin: 0.5em;
        border-radius: 50%;
    }

    a {
        color: var(--cyan-8);
        text-decoration: none;
    }
}