:root {
    --i-search: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/search.svg);
    --i-right: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/tick.svg);
    --i-wrong: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/cross.svg);
    --i-default-user: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/user-avatar.svg);
    --i-close: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/close.svg);
    --i-star-empty: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/star-empty.svg);
    --i-star-hover: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/star-hover.svg);
    --i-star-select: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/star-select.svg);
}

@media(prefers-color-scheme: dark) {
    :root {
        --i-search: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/search-dark.svg);
        --i-close: url(https://gitlab.eduxiji.net/pku2200010825/image-host/-/raw/master/svg/close-dark.svg);
    }
}